.searchBoxDiv {
  width: 60%;
  height: 4em;
  margin: auto;
  padding-top: 8rem;
  display: flex;
  justify-content: space-evenly;
}
.searchField {
  width: 100%;
  outline: none;
  border-radius: 0;
  border-top: 1px solid lightgray;
  border-left: 1px solid lightgray;
  border-right: 0;
  border-bottom: 1px solid lightgray;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  font-size: 1.2em;
  color: gray;
  padding-left: 10px;
}
.searchButton {
  cursor: pointer;
  width: 100%;
  border: none;
  border-radius: 0;

  background-color: lightpink;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  font-size: 1.5rem;
  color: white;
  border-left: 1px solid lightgray;
}
.searchButton:hover{
  background-color: rgba(255,182,193,0.8);
}
.searchLink{
  display: flex;
  width: 20%;
  

}
.loadMoreButton {
  cursor: pointer;
  width: 100%;
  border: none;
  border-radius: 5px;

  background-color: lightpink;

  font-size: 1.6rem;
  color: white;
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 0.4em;
  
}
.loadMoreButton:hover{
  background-color: rgba(255,182,193,0.8);

}
/* .searchField::placeholder{
    padding-left: 0.5em;
    
}
.searchField::-webkit-textfield-decoration-container{
    padding-left: 0.5em;
}  */

.suggestionsBox {
  overflow-y: scroll;

  background-color: white;
  text-align: left;
  padding: 20px;
  margin-bottom: 1em;

  max-height: 20em;
  min-height: 20em;
  width: 79%;
  border-radius: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  
}
.searchBoxContainer {
  display: flex;
  flex-direction: column;
}
.suggestionsBoxContainer {
  width: 60%;
  height: 4em;
  margin: auto;
  border-radius: 5px;
}

.suggestion {
  padding: 1em;
}
.suggestion:hover {
  background-color: rgb(255, 231, 235);
  border-radius: 5px;
  color: white;
  border: none;
}
.routerLinks {
  color: gray;
}

/* Scroll-Bar Stylin */
.suggestionsBox::-webkit-scrollbar {
  width: 20px; /* width of the entire scrollbar */
}

.suggestionsBox::-webkit-scrollbar-track {
  background:transparent; /* color of the tracking area */
}

.suggestionsBox::-webkit-scrollbar-thumb {
  background-color: pink; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 7.5px solid white; /*creates padding around scroll thumb*/
  
}

.searchFieldLoader{
 width: 40px;
 height: 40px;
 padding-top: 12px;

 
  
}
.loaderContainerBar{
  width: 64px;
  height: 62px;
  border-top: 1px solid lightgray;
  background-color: white;
  border-bottom: 1px solid lightgray;
  display: flex;
  align-content: center;
}
.loadMoreLoader{
  width: 20px;
  height: 20px;
  float: right;
  padding-top: 5px;
}